.a:hover {
    color: rgba(255, 255, 255, 0.50);
    user-select: none;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.per-box:hover {
    transform: scale(0.9);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.fun-box:hover {
    opacity: 0.6;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#ch-submit:hover {
    background-color: rgba(54, 89, 160, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#log-btn:hover {
    background-color: rgba(88, 60, 140, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#reg-btn:hover {
    background-color: rgba(54, 89, 160, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#clear-msg:hover {
    background-color: rgba(175, 73, 73, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#send:hover {
    background-color: rgba(149, 92, 224, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#clear:hover {
    background-color: rgba(255, 61, 61, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

@keyframes msg-item {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes msg-item {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes msg-box1 {
    0% {
        transform: scale(0.6);
        transform-origin: left top;
    }

    100% {
        transform: scale(1.0);
        transform-origin: left top;
    }
}

@-webkit-keyframes msg-box1 {
    0% {
        transform: scale(0.6);
        transform-origin: left top;
    }

    100% {
        transform: scale(1.0);
        transform-origin: left top;
    }
}

@keyframes msg-box2 {
    0% {
        transform: scale(0.6);
        transform-origin: right top;
    }

    100% {
        transform: scale(1.0);
        transform-origin: right top;
    }
}

@-webkit-keyframes msg-box2 {
    0% {
        transform: scale(0.6);
        transform-origin: right top;
    }

    100% {
        transform: scale(1.0);
        transform-origin: right top;
    }
}