.msg-item-l {
    overflow: hidden;
    display: block;
    margin-top: 20px;
}

.head-img {
    float: left;
    display: block;
    width: 36px;
    height: 36px;
    background-color: rgba(240, 240, 240, 1.00);
}

.h-m {
    float: left;
    display: block;
    margin-left: 20px;
}

.user-name {
    margin: 0;
    font-size: 12px;
    line-height: 12px;
}

.msg-l {
    float: left;
    width: 0px;
    height: 0px;
    margin-top: 12px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.00) rgba(131, 73, 255, 1.00) rgba(131, 73, 255, 1.00) rgba(255, 255, 255, 0.00);
}

.msg-box {
    float: left;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    min-width: 0px;
    min-height: 0px;
    max-width: 300px;
    max-height: 600px;
    margin-top: 12px;
    padding: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(130, 117, 216, 1.00);
}