body {
    padding: 0;
    margin: 0;
}

.msg-item {
    overflow: hidden;
    display: block;
    margin-top: 20px;
    animation: msg-item 1.5s;
    animation-fill-mode: forwards;
}

.head-img {
    overflow: hidden;
    float: left;
    border: none;
    width: 36px;
    height: 36px;
    background-color: rgba(240, 240, 240, 0.00);
}

.head-img2 {
    overflow: hidden;
    float: right;
    border: none;
    width: 36px;
    height: 36px;
    background-color: rgba(240, 240, 240, 0.00);
}

.user-name {
    font-size: 12px;
    line-height: 12px;
    color: rgba(55, 55, 55, 1.00);
    transform: translateX(20px);
}

.user-name2 {
    text-align: end;
    font-size: 12px;
    line-height: 12px;
    color: rgba(55, 55, 55, 1.00);
    transform: translateX(-20px);
}

.msg-box,
.msg-box2 {
    resize: none;
    overflow: auto;
    word-wrap: break-word;
    min-width: 36px;
    min-height: 36px;
    max-width: 80%;
    max-height: 400px;
    margin-top: 12px;
    padding: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(130, 117, 216, 1.00);
}

.msg-box {
    float: left;
    margin-left: 20px;
    animation: msg-box1 0.5s;
    animation-fill-mode: forwards;
}

.msg-box2 {
    float: right;
    margin-right: 20px;
    animation: msg-box2 0.5s;
    animation-fill-mode: forwards;
}

.msg-box::-webkit-scrollbar {
    display: none;
}

.msg-box2::-webkit-scrollbar {
    display: none;
}