body {
    padding: 0;
    margin: 0;
}

.msg-item {
    overflow: hidden;
    display: block;
    margin-top: 20px;
}

.head-img {
    overflow: hidden;
    float: left;
    display: block;
    border: none;
    width: 36px;
    height: 36px;
    background-color: rgba(240, 240, 240, 0.00);
}

.head-img2 {
    overflow: hidden;
    float: right;
    display: block;
    border: none;
    width: 36px;
    height: 36px;
    background-color: rgba(240, 240, 240, 0.00);
}

.h-m {
    float: left;
    display: block;
    margin-left: 20px;
}

.h-m2 {
    float: right;
    text-align: end;
    display: block;
    margin-right: 20px;
}

.user-name {
    margin: 0;
    font-size: 12px;
    line-height: 12px;
}

.msg-l {
    float: left;
    width: 0px;
    height: 0px;
    margin-top: 12px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.00) rgba(88, 60, 140, 1.00) rgba(88, 60, 140, 1.00) rgba(255, 255, 255, 0.00);
}

.msg-r {
    float: right;
    width: 0px;
    height: 0px;
    margin-top: 12px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.00) rgba(255, 255, 255, 0.00) rgba(88, 60, 140, 1.00) rgba(88, 60, 140, 1.00);
}

.msg-box {
    float: left;
    resize: none;
    overflow: auto;
    word-wrap: break-word;
    min-width: 0px;
    min-height: 0px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 12px;
    padding: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(130, 117, 216, 1.00);
}

.msg-box::-webkit-scrollbar {
    display: none;
}

.msg-box2 {
    float: right;
    text-align: left;
    resize: none;
    overflow: auto;
    word-wrap: break-word;
    min-width: 0px;
    min-height: 0px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 12px;
    padding: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(130, 117, 216, 1.00);
}

.msg-box2::-webkit-scrollbar {
    display: none;
}