.theme {
    background-color: rgba(56, 145, 255, 1.00);
    color: rgba(56, 145, 255, 1.00);
}

.dot-c {
    background-color: rgba(146, 79, 255, 1.00);
    color: rgba(146, 79, 255, 1.00);
}

.war-c {
    background-color: rgba(255, 120, 120, 1.00);
    color: rgba(255, 120, 120, 1.00);
}