.theme {
    background-color: rgba(50, 50, 50, 1.00);
}

.dot-c {
    background-color: rgba(130, 117, 216, 1.00);
}

.war-c {
    background-color: rgba(244, 88, 88, 1.00);
}

.ready-c {
    background-color: rgba(96, 150, 78, 1.00);
}