* {
    font-family: '微软雅黑';
}

body {
    padding: 0px;
    margin: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

a {
    user-select: none;
    color: rgba(250, 250, 250, 0.80);
}

a:hover {
    text-decoration: none;
    color: rgba(250, 250, 250, 0.80);
}

a:active {
    color: rgba(250, 250, 250, 0.80);
}

#whole {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 1.00);
    transform: translateX(0px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.nav {
    float: none;
    width: 100%;
    height: 160px;
}

.nav-bar {
    width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
}

#chat-box {
    overflow: auto;
    max-width: 1400px;
    height: 66%;
    margin: 0 auto;
    margin-top: -100px;
    padding: 20px;
    background-color: rgba(250, 250, 250, 1.00);
    -webkit-overflow-scrolling: touch;
}

#chat-box::-webkit-scrollbar {
    display: none
}

#left-menu {
    position: fixed;
    display: blocks;
    width: 300px;
    height: 100%;
    padding: 20px;
    border-right: 1px solid rgba(230, 230, 230, 1.00);
    background-color: rgba(250, 250, 250, 1.00);
    transform: translateX(-300px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.left-in {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.left-in::-webkit-scrollbar {
    display: none
}

.menu-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: rgba(50, 50, 50, 1.00);
}

.menu-title2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: rgba(60, 60, 60, 1.00);
}

.left-article {
    font-size: 12px;
    line-height: 20px;
    color: rgba(50, 50, 50, 1.00);
}

.per-box {
    float: left;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(240, 240, 240, 1.00);
    transform: scale(1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.per-h {
    float: left;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: rgba(200, 200, 200, 1.00);
}

.per-name {
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding: 6px;
    color: rgba(70, 70, 70, 1.00);
}

.per-art {
    text-decoration: none;
    font-size: 8px;
    line-height: 10px;
    padding-left: 6px;
    padding-right: 6px;
    color: rgba(90, 90, 90, 1.00);
}

.left-foot {
    width: 100%;
    text-align: center;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0px;
    font-size: 8px;
    line-height: 40px;
    background-color: rgba(250, 250, 250, 1.00);
}

#right-menu {
    position: fixed;
    z-index: 2;
    width: 300px;
    height: 100%;
    padding: 20px;
    right: 0;
    border-left: 1px solid rgba(230, 230, 230, 1.00);
    background-color: rgba(250, 250, 250, 1.00);
    transform: translateX(300px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#user-head {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.right-m-n {
    float: left;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    max-width: 100px;
    max-height: 14px;
    overflow: hidden;
    color: rgba(90, 90, 90, 1.00);
}

.right-m-s {
    float: left;
    font-size: 10px;
    line-height: 10px;
    padding: 2px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(130, 117, 216, 1.00);
}

.right-m-sub {
    font-size: 10px;
    line-height: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgba(80, 80, 80, 1.00);
}

.setting-item {
    border: none;
    outline: none;
    text-align: left;
    user-select: none;
    width: 100%;
    height: 40px;
    background-color: rgba(240, 240, 240, 1.00);
    margin-top: 20px;
    font-size: 14px;
    line-height: 40px;
    padding: 0px 20px 0px 20px;
    color: rgba(50, 50, 50, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.right-style {
    position: fixed;
    top: 0;
    right: -300px;
    padding: 20px;
    width: 300px;
    height: 100%;
    background-color: rgba(250, 250, 250, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.submit {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(130, 117, 216, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#close-net,
#close-about {
    user-select: none;
    cursor: pointer;
}

.clear-msg {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 1.00);
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 120, 120, 1.00);
    user-select: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.logo {
    float: left;
    width: 160px;
    height: 20px;
    margin: 20px 0px 0px 20px;
}

.logo-left {
    float: left;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(230, 230, 230, 0.00) rgba(200, 200, 200, 1.00) rgba(200, 200, 200, 1.00) rgba(230, 230, 230, 0.00);
}

.logo-right {
    float: left;
    width: 20px;
    height: 20px;
    background-color: rgba(250, 250, 250, 1.00);
}

.logo-in {
    width: 12px;
    height: 1px;
    background-color: rgba(130, 117, 216, 1.00);
    margin: 0 auto;
    margin-top: 4px;
}

.logo-text {
    user-select: none;
    margin-left: 10px;
    float: left;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: rgba(250, 250, 250, 1.00);
}

#reg-login {
    float: right;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 20px;
    font-size: 18px;
    color: rgba(250, 250, 250, 1.00);
    user-select: none;
}

#log-reg-box {
    opacity: 0;
    overflow: auto;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.00);
    transform: scale(0);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#log-reg-box::-webkit-scrollbar {
    display: none;
}

#lr-main {
    position: relative;
    max-width: 400px;
    height: 450px;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    margin-top: -230px;
    padding: 30px;
    background-color: rgba(250, 250, 250, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#log-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: rgba(80, 80, 80, 1.00);
}

#log-head {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(240, 240, 240, 1.00);
}

.input-box {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 4px;
    margin: 0;
    margin-top: 20px;
    background-color: rgba(230, 230, 230, 1.00);
    font-size: 14px;
    text-align: center;
    color: rgba(80, 80, 80, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#check-psw {
    transform: scale(0);
}

#log-btn {
    border: none;
    outline: none;
    float: left;
    width: 50%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.00);
    line-height: 40px;
    text-align: center;
    background-color: rgba(130, 117, 216, 1.00);
    user-select: none;
    transform: translateY(-50px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#reg-btn {
    border: none;
    outline: none;
    float: left;
    width: 50%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.00);
    line-height: 40px;
    text-align: center;
    background-color: rgba(94, 153, 255, 1.00);
    user-select: none;
    transform: translateY(-50px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#close-log-box {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 120, 120, 1.00);
}

.a {
    color: rgba(250, 250, 250, 1.00);
    user-select: none;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}


.tool-bar {
    max-width: 1400px;
    margin: 0 auto;
    height: 40px;
    background-color: rgba(240, 240, 240, 1.00);
    border-top: 1px solid rgba(230, 230, 230, 1.00);
}

.fun-box {
    opacity: 1.0;
    float: left;
    width: 24px;
    height: 24px;
    border: none;
    margin: 8px 0px 0px 12px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.right-fun {
    float: right;
    width: 200px;
    height: 24px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 1.00);
}

#connect {
    border: none;
    outline: none;
    position: relative;
    height: 24px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    font-size: 10px;
    color: rgba(255, 255, 255, 1.00);
    padding: 0px 8px 0px 8px;
    line-height: 24px;
    background-color: rgba(255, 163, 94, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#send {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: none;
    outline: none;
    user-select: none;
    margin-right: 20px;
    margin-top: 6px;
    text-align: center;
    width: 80px;
    height: 28px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.00);
    line-height: 24px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#clear {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    user-select: none;
    border: none;
    outline: none;
    margin-right: 8px;
    margin-top: 6px;
    text-align: center;
    width: 80px;
    height: 28px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.00);
    line-height: 24px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.edit-box {
    max-width: 1400px;
    height: 22%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1.00);
}

#edit {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    overflow-y: auto;
    padding: 20px;
    font-size: 14px;
    color: rgba(50, 50, 50, 1.00);
}

#edit::-webkit-scrollbar {
    display: none;
}