body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: '微软雅黑';
    background-color: rgba(255, 255, 255, 1.00);
}

#whole {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#map {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(200, 200, 200, 1.00);
}

#menuBtn {
    opacity: 0.60;
    user-select: none;
    text-align: center;
    position: fixed;
    z-index: 3;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 20px;
    font-size: 30px;
    line-height: 50px;
    transition: all 2s;
    -webkit-transition: all 2s;
    -ms-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
}

.menu-btn-center {
    width: 40px;
    height: 40px;
    margin: 5px 0 0 5px;
    background-color: rgba(73, 158, 25, 0.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.menu-btn-center:hover {
    transform: scale(0.7);
    background-color: rgba(73, 158, 25, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.menu-item1,
.menu-item2,
.menu-item3,
.menu-item4 {
    float: left;
    width: 18px;
    height: 18px;
    margin: 1px;
    background-color: rgba(15, 15, 100, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.menu-btn-center:hover>.menu-item1 {
    transform: translateX(-6px) translateY(-6px) scale(1.3);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.menu-btn-center:hover>.menu-item2 {
    transform: translateX(6px) translateY(-6px) scale(1.3);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.menu-btn-center:hover>.menu-item3 {
    transform: translateX(-6px) translateY(6px) scale(1.3);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.menu-btn-center:hover>.menu-item4 {
    transform: translateX(6px) translateY(6px) scale(1.3);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#menu {
    position: fixed;
    z-index: 4;
    width: 300px;
    height: 100%;
    right: -300px;
    background-color: rgba(190, 190, 190, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.menu-title {
    font-size: 120%;
    font-weight: bold;
    padding: 0 0 0 20px;
    color: rgba(55, 55, 55, 1.00);
}

.se-title {
    font-size: 100%;
    line-height: 90%;
    font-weight: bold;
    padding-left: 20px;
    color: rgba(85, 85, 85, 1.00);
}

.se-article {
    font-size: 80%;
    padding: 0 20px 0 20px;
    color: rgba(55, 55, 55, 1.00);
}

.tank-obj {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 80px;
    height: 60px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.tank {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: 20px;
    background: url("../img/tank_tank.png") no-repeat center center;
    background-size: cover;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transform-origin: center center;
}

.tank-driver {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 12px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
}

.blood-bar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    position: absolute;
    z-index: -2;
    width: 80px;
    height: 10px;
    background-color: rgba(160, 160, 160, 1.00);
    font-size: 40%;
    line-height: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1.00);
}

.blood {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    z-index: -1;
    width: 80px;
    height: 10px;
    background-color: rgba(0, 153, 20, 1.00);
    transform-origin: center left;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#quitGame {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    z-index: 2;
    user-select: none;
    line-height: 40px;
    text-align: center;
    width: 300px;
    bottom: 0;
    background-color: rgba(200, 80, 80, 1.00);
    font-size: 90%;
    color: rgba(255, 255, 255, 1.00);
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#quitGame:hover {
    background-color: rgba(100, 100, 200, 1.00);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.bullet {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 6px;
    height: 6px;
    background-color: rgba(55, 55, 55, 1.00);
    transition: all 0.05s linear;
    -webkit-transition: all 0.05s linear;
    -ms-transition: all 0.05s linear;
    -moz-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
}

#gameBar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 20px 20px 0 20px;
}

#idInfo,
#tankName {
    opacity: 0.50;
    outline: none;
    border: none;
    width: 240px;
    height: 40px;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#idInfo:focus,
#tankName:focus {
    opacity: 1.00;
    transform: scale(1.05);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#create {
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: green;
    color: white;
    font-size: 80%;
    line-height: 40px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#create:hover {
    background-color: cadetblue;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.tips {
    opacity: 1.00;
    position: absolute;
    margin-top: 4px;
    margin-left: 80px;
    font-size: 80%;
    padding: 4px;
    color: white;
    background-color: rgba(0, 100, 0, 0.60);
    animation: tipsAnimate 2.0s;
    animation-fill-mode: forwards;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

@keyframes tipsAnimate {
    0% {
        opacity: 0.00;
        transform: translateY(30px);
    }

    20% {
        opacity: 1.00;
        transform: translateY(0px);
    }

    60% {
        opacity: 1.00;
        transform: translateY(0px);
    }

    100% {
        opacity: 0.00;
        transform: translateY(-30px);
    }
}

.boom-box {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    width: 240px;
    height: 240px;
    border-radius: 200px;
    background-color: rgba(58, 129, 234, 1.00);
    transition: all 0.2s cubic-bezier(0.01, 0.02, 0.04, 0.021);
    -webkit-transition: all 0.2s cubic-bezier(0.01, 0.02, 0.04, 0.021);
    -ms-transition: all 0.2s cubic-bezier(0.01, 0.02, 0.04, 0.021);
    -moz-transition: all 0.2s cubic-bezier(0.01, 0.02, 0.04, 0.021);
    -o-transition: all 0.2s cubic-bezier(0.01, 0.02, 0.04, 0.021);
}

.safe-area {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    user-select: none;
    position: absolute;
    left: 0;
    width: 80px;
    height: 100%;
    padding-top: 80px;
    border-right: 1px solid rgba(155, 155, 155, 1.00);
    font-size: 400%;
    font-weight: bold;
    color: rgba(180, 180, 180, 1.00);
}

#shotBtn {
    opacity: 0.00;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    user-select: none;
    line-height: 150px;
    position: fixed;
    z-index: 2;
    bottom: 50px;
    right: 100px;
    width: 150px;
    height: 150px;
    font-size: 70%;
    color: rgba(255, 255, 255, 1.00);
    font-weight: bold;
    background-color: rgba(200, 100, 100, 0.50);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#moveBtn {
    opacity: 0.00;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 2;
    bottom: 50px;
    left: 100px;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 70%;
    background-color: rgba(50, 100, 200, 0.50);
    color: rgba(255, 255, 255, 1.00);
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}