body {
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
}

.boy-1 {
    width: 36px;
    height: 12px;
}

.boy-2 {
    float: left;
    width: 4px;
    height: 4px;
}

.boy-3 {
    float: left;
    width: 0px;
    height: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(77, 77, 77, 1.00) rgba(77, 77, 77, 1.00) rgba(245, 221, 190, 1.00) rgba(245, 221, 190, 1.00);
}

.boy-4 {
    float: left;
    width: 20px;
    height: 4px;
}

.boy-5 {
    float: left;
    width: 0px;
    height: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(77, 77, 77, 1.00) rgba(245, 221, 190, 1.00) rgba(245, 221, 190, 1.00) rgba(77, 77, 77, 1.00);
}

.boy-6 {
    float: left;
    width: 28px;
    height: 20px;
}

.boy-7 {
    width: 4px;
    height: 12px;
    margin: 0 auto;
    margin-top: 4px;
}

.girl-1 {
    width: 36px;
    height: 12px;
}

.girl-2 {
    float: left;
    width: 4px;
    height: 4px;
}

.girl-3 {
    float: left;
    width: 0px;
    height: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(77, 77, 77, 1.00) rgba(255, 243, 228, 1.00) rgba(255, 243, 228, 1.00) rgba(77, 77, 77, 1.00);
}

.girl-4 {
    width: 2px;
    height: 12px;
    margin: 0 auto;
    margin-top: 4px;
}