.theme {
    background-color: rgba(130, 117, 216, 1.00);
}

.main {
    background-color: rgba(255, 255, 255, 1.00);
}

.hear-color1 {
    background-color: rgba(77, 77, 77, 1.00);
}

.skin-color1 {
    background-color: rgba(245, 221, 190, 1.00);
}

.skin-color2 {
    background-color: rgba(255, 207, 145, 1.00);
}

.skin-color3 {
    background-color: rgba(255, 243, 228, 1.00);
}

.r-c1 {
    background-color: rgba(54, 89, 160, 1.00);
}

.r-c2 {
    background-color: rgba(94, 153, 255, 1.00);
}